.advantages__slogan {
  text-align: center;
  padding: 38px 30px 30px 30px;
  margin: 0 auto;
}

.advantages__list-wrapper {
  background-color: #f2f2f2;
  padding: 78px 30px 285px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../img/iphone-screen-mobile@1x.png"), url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center calc(100% + 41px), 0 -70px;
}

.advantages__list {
  .list-reset();
  text-align: center;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

@media (min-width: @tablet-width) {
  .advantages__list-wrapper {
    align-items: flex-end;
    background-image: url("../img/iphone-screen-3-tablet@1x.png"), url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 5% 8px, 0 -40px;
    background-size: auto, auto;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 50%;

    text-align: left;
  }

  .advantages__item {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 660px) and (min-resolution: @retina-dpi),
    (min-width: 660px) and (min-resolution: @retina-dppx) {
    .advantages__list-wrapper {
      background-image: url("../img/iphone-screen-3-tablet@2x.png"), url("../img/bg-triangle-white.svg");
      background-size: 270px, auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 36px;
  }

  .advantages__list-wrapper {
    align-items: center;
    margin-top: 47px;
    padding: 0;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto;
  }

  .advantages__list {
    width: 960px;

    flex-direction: row;
    justify-content: space-around;
    margin: auto;

    text-align: center;
    box-sizing: border-box;
  }

  .advantages__item {
    max-width: 240px;
    padding-top: 355px;

    &--mood {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: auto;
    }

    &--world {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: auto;
    }

    &--friends {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: auto;
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  @media (min-width: 960px) and (min-resolution: @retina-dpi),
    (min-width: 960px) and (min-resolution: @retina-dppx) {
    .advantages__item {
      &--mood {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 290px auto;
      }

      &--world {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 290px auto;
      }

      &--friends {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 290px auto;
      }
    }
  }
}
