.comment {
  background-color: #f2f2f2;
  margin: 0 10px 10px 10px;
  padding: 19px 17px;
  box-sizing: border-box;

  &--panorama {
    margin: 0 20px;
  }
}

.comment__author-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.comment__timeframe {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.comment__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: light;
  margin: 0 0 8px 0;
}

@media (min-width: @tablet-width) {
  .comment {
    min-height: 155px;
    display: flex;
    flex-direction: column;
    padding: 21px 31px 26px 28px;

    &--panorama {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: 620px;
      box-sizing: border-box;

      min-height: 121px;

      padding: 23px 20px 16px 27px;
    }
  }

  .comment__text--panorama {
    order: 5;
    flex-grow: 1;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .comment {
    padding: 21px 32px 16px 27px;
    margin: 0;
  }

  .comment--panorama {
    width: 940px;
    margin: 0 auto;
    min-height: 96px;
    padding-top: 25px;
  }

  .comment__text--panorama {
    margin: 0;
  }
}
