.competition {
  color: @bg-light-blue;
}

.competition__lead {
  font-size: 14px;
  line-height: 30px;
  max-width: 275px;
  text-align: center;
  margin: 47px auto 29px;
}

.competition__lead-text--note {
  display: none;
}

.competition__button {
  text-transform: uppercase;
  background-color: @green;
  padding: 24px 45px;
  color: #ffffff;
  border: none;
  border-radius: 2px;

  width: 276px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 37px;
}

.competition__note {
  display: block;
}
