.contacts {
  color: @bg-light-blue;
  text-align: center;
}

.contacts__lead {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 28px;
}

.contacts__list {
  .list-reset();
  max-width: 318px;
}

.contacts__item {
  margin: 0 10px 22px;
}

.contacts__action {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.contacts__link {
  color: @pink;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;

  &:hover,
  &:focus {
    color: @bg-light-blue;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.3;
  }
}
