.download {
  padding: 28px 20px;
  background-color: @bg-dark-blue;
  color: #ffffff;

  text-align: center;
}

.download__button {
  display: block;

  text-decoration: none;
  color: #ffffff;
  text-align: center;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  max-width: 300px;

  padding: 15px;
  margin: auto;
  margin-bottom: 30px;

  border: 3px solid #ffffff;
  border-radius: 30px;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__list {
  .list-reset();
  display: flex;
  padding: 15px 0 15px;
}

.download__link {
  display: block;

  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: #d22856;
  }
}

.download__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.download__slogan {
  display: none;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .download {
    background: none;
    width: 50%;

    margin-top: -529px;
    margin-bottom: 117px;
    padding: 0 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .download__button {
    padding: 15px 45px;
  }

  .download__slogan {
    display: block;
    max-width: 200px;
    line-height: 1.2em;
    margin-bottom: 32px;
  }

  .download__list {
    //временно для сетки
    margin-bottom: 57px;
  }

  .download__description {
    margin: 0;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    margin-top: -635px;
    margin-right: 53%;
    width: auto;
  }

  .download__slogan {
    font-size: 50px;
    max-width: 250px;
    margin-bottom: 52px;
  }

  .download__button {
    font-size: 21px;
    padding: 15px 30px;
  }

  .download__list {
    //временно
    min-height: 62px;
  }

  .download__description {
    max-width: 350px;
  }
}
