.form-section {
  border: none;
  padding: 4px 17px 25px;

  &--grey {
    background-color: @bg-grey;
    position: relative;
    padding-top: 99px;
    padding-bottom: 11px;
  }

  &--review {
    position: relative;
    padding-top: 80px;
    margin-bottom: 9px;
  }

  &--contacts {
    padding-top: 32px;
  }
}

.form-section__legend {
  color: @pink;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  position: absolute;
  top: 37px;
  left: 45px;

  max-width: 220px;

  &--review {
    top: 47px;
    left: 64px;
  }

  &--contacts {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .form-section {
    padding: 25px 17px 24px;
    border: 2px solid #e5e5e5;
    margin: 0 20px;
    margin-bottom: 57px;

    &--grey {
      background-color: transparent;
    }

    &--name {
      order: -5;
      border: none;
      margin: 0;
    }

    &--app {
      order: -3;
      padding-bottom: 34px;
    }

    &--contacts {
      order: -2;
      padding: 25px 17px 5px;
    }

    &--review {
      padding-top: 23px;
    }
  }

  .form-section__legend {
    position: static;
    max-width: 400px;
    padding: 0 30px;

    &--contacts {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-section {
    width: 100%;
    margin: 0;

    &--contacts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 45px;
    }

    &--app {
      width: 42%;
      min-height: 279px;

      margin-left: 70px;
      padding-bottom: 0;
      margin-bottom: 12px;
    }

    &--name {
      width: 46%;
      padding: 0;
      padding-top: 10px;
    }

    &--achievements {
      margin-top: 58px;
    }
  }

  .form-section__legend {
    padding: 0 20px;
  }

  .form-section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
