.main-nav__list {
  .list-reset();

  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    margin: 0 auto;
  }

  .main-nav__list {
    display: flex;
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }
}
