.page-header {
  background-color: @bg-transparent-blue;
  color: #ffffff;

  position: absolute;
  width: 100%;
  height: 66px;

  box-sizing: border-box;

  &--opaque {
    position: static;
    height: 324px;
    background-color: @bg-light-blue;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: block;
  padding: 22px 24px 20px 20px;
  width: 50%;

  &--opaque {
    height: auto;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    box-sizing: border-box;
    height: 110px;
    display: flex;
    padding-top: 27px;
  }

  .page-header__logo:hover,
  .page-header__logo:focus {
    filter: invert(66%) sepia(58%) saturate(3370%) hue-rotate(324deg) brightness(81%) contrast(104%);
  }

  .page-header__logo:active {
    filter: none;
    opacity: 0.3;
  }

  .page-header__logo-image {
    margin-right: auto;
  }

  .page-header {
    height: 111px;

    &--opaque {
      height: 363px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header--opaque {
    height: 111px;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    width: 960px;
    height: 110px;
    padding: 0 10px;
  }

  .page-header__logo {
    padding: 27px 0 0 0;

    &:hover,
    &:focus {
      filter: none;
    }

    &:active {
      opacity: 1;
    }
  }

  .page-header__logo-image {
    display: block;
    width: 147px;
  }
}
