.page-title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: #283645;

  &--main {
    min-height: 462px;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, center 0;
    background-size: auto, cover;
  }

  &--photo,
  &--competition {
    min-height: 235px;
  }

  &--higher {
    background-position: center -65px;
  }
}

.page-title__title {
  display: block;
  text-align: center;

  font-size: 24px;
  font-weight: 300;

  color: #ffffff;

  margin: 0 auto;
  max-width: 250px;
  padding-top: 93px;
}

.page-title--higher .page-title__title {
  padding-top: 27px;
}

.page-title--photo.page-title--higher,
.page-title--competition.page-title--higher {
  background-position: center -65px;
  min-height: 170px;
}

@media (min-width: @tablet-width) {
  .page-title {
    &--main {
      min-height: 729px;
      background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
      background-position: center bottom, center 0;
      background-size: auto, auto;
    }

    &--photo,
    &--competition {
      min-height: 440px;
      background-position: center -65px;
    }
  }

  .page-title--main.page-title--higher {
    min-height: 620px;
    background-position: -19px bottom, center -110px;
  }

  .page-title--photo.page-title--higher,
  .page-title--competition.page-title--higher {
    min-height: 330px;
    background-position: center -175px;
  }

  .page-title__title {
    max-width: 500px;
    margin: auto;
    font-size: 50px;
    //margin-top: 190px;
    padding-top: 170px;
  }

  .page-title--higher .page-title__title {
    padding-top: 63px;
    line-height: 1.2em;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    &--main {
      min-height: 853px;
      background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
      background-position: right bottom, center 0;
      background-size: auto, auto;
    }

    &--photo,
    &--competition {
      min-height: 394px;
      background-position: center center;
    }
  }

  .page-title--competition .page-title__title {
    max-width: 750px;
  }
}
