.page-footer__social {
  padding: 15px 0;
  margin-bottom: 23px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 20px;
  transition: opacity 100ms;
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  filter: brightness(0) saturate(100%) invert(25%) sepia(73%) saturate(2162%) hue-rotate(322deg) brightness(89%) contrast(94%);
}

.page-footer__logo:active {
  filter: none;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 0;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 19px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social {
    padding: 20px;
    margin-bottom: -10px;
    margin-left: -17px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    justify-content: space-between;
    .container-desktop();
    box-sizing: border-box;
    padding: 50px 6px;
  }

  .page-footer__social {
    margin-left: 17px;
  }

  .page-footer__logo:hover,
  .page-footer__logo:focus {
    filter: none;
  }

  .page-footer__logo:active {
    opacity: 1;
  }
}
