.page-title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: #283645;

  &--main {
    min-height: 125vw;
  }

  &--photo,
  &--copmetition {
    min-height: 75vw;
  }
}

.page-title__title {
  display: block;
  text-align: center;

  font-size: 24px;
  font-weight: 300;

  color: #ffffff;

  margin: 0;
}
