.photo:not(:last-child) {
  margin-bottom: 20px;
}

.photo__day-image {
  display: block;

  font-size: 12px;
  line-height: 24px;
  font-weight: bold;

  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  padding: 6px 20px;
  background-color: #d22856;
  max-width: 140px;
}

@media (min-width: @tablet-width) {
  .photo:not(.photo--panorama) {
    width: 300px;
    flex-grow: 1;
  }

  .photo__link {
    /*Временно*/
    display: block;
    height: 300px;
  }

  .photo--panorama .photo__link {
    /*Временно*/
    height: 510px;
  }
}

@media (min-width: @desktop-width) {
  .photo--panorama {
    width: 100%;
  }

  .photo__link {
    /*Временно*/
    height: 400px;
  }

  .photo--panorama .photo__link {
    /*Временно*/
    height: 506px;
  }
}
