.photo {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  &--panorama {
    position: relative;
  }
}

.photo__link {
  /*Временно*/
  display: block;
  height: 180px;

  &--panorama {
    /*Временно*/
    height: 137px;
  }
}

.photo__day-image {
  position: absolute;
  top: 1px;
  right: 21px;

  height: 36px;
  width: 140px;
  box-sizing: border-box;
  padding: 6px 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #d22856;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 300px;
    flex-grow: 1;
    margin-bottom: 10px;
  }

  .photo__link {
    /*Временно*/
    display: block;
    height: 300px;

    &--panorama {
      /*Временно*/
      height: 510px;
    }
  }

  .photo__day-image {
    top: 57px;
  }
}

@media (min-width: @desktop-width) {
  .photo--panorama {
    width: 100%;
  }

  .photo__link {
    /*Временно*/
    height: 400px;

    &--panorama {
      /*Временно*/
      height: 506px;
    }
  }
}
