.site-list {
  .list-reset();
}

.site-list__item {
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
}

.site-list__link {
  display: block;

  text-decoration: none;
  color: #ffffff;
  text-align: center;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;

  padding: 10px;

  &:hover {
    color: #d22856;
  }
}
