.site-list {
  flex-direction: column;
  width: 100%;
}

.site-list__item {
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;

  &:first-child {
    box-shadow: 0 -5px 2px -5px #000000;
  }
}

.site-list__link {
  display: block;

  text-decoration: none;
  color: #ffffff;
  text-align: center;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;

  padding: 15px;

  &:hover {
    color: #d22856;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    border: none;
  }
}
